.hero-section {
    margin-top: 30px;
    text-align: center
}

h1 {
    font-size: 3rem;
    font-size: clamp(3rem, 1.71rem + 6.428vw, 7.5rem);
    color: var(--green);
}

.pro-pic {
    object-fit: cover;
    border-radius: 5%;
    margin-top: 40px;
    /* box-shadow: 2px 2px 5px #00000066; */
}

