.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 50px;
    margin-top: 30px;
    font-size: 1.2rem;
}

.logo {
    display: none;
}

.main-nav {
    display: none;
}

.nav-menu-icon {
    display: initial;
    margin-left: auto;
}

.nav-menu-icon:hover {
    cursor: pointer;
}

li {
    font-weight: 400;
    list-style: none;
    transition: all 500ms ease-in-out;
}

li:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--green);
    cursor: pointer;
    font-weight: 600;
}

@media (min-width: 37.5em) {

    .logo {
        display: initial;
    }

    .main-nav {
        display: flex;
        gap: 30px;
    }

    .nav-menu-icon {
        display: none;
    }
}