@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* , *::before , *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: hsl(117, 15%, 26%);
  --gray: hsl(36, 6%, 32%);

  --fs-body: 1.5rem;
  --container: 75rem;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  font-size: 1.5rem;
}

body {
  background-image: url(./assets/bg-beige-resized.jpg);
  background-repeat: repeat;
  height: 500px;
  /* have to give a height */
  background-size: cover;
  
  font-size: var(--fs-body);
  color: #56524C;
}

.wrapper {
  width: calc(100% - 4rem);
  max-width: var(--container);
  margin-inline: auto; 
  /* left and right margins set to auto */

}


/* Photo by <a href="https://unsplash.com/@anniespratt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Annie Spratt</a> on <a href="https://unsplash.com/photos/white-textile-with-black-line-xz485Eku8O4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
  